# API Configuration
API_PORT=

FRONTEND_ORIGIN=

ENCRYPT_SALT=
JWT_SECRET=
JWT_EXPIRES_IN=

# Docker configuration
## Docker Database Variables
DOCKER_SQL_DB=
DOCKER_SQL_USER=
DOCKER_SQL_PASSWORD=
DOCKER_SQL_PORT=

## Docker Cache Variables
DOCKER_CACHE_PORT=
